* {
  margin: 0px;
  box-sizing: border-box;
}
html {
  margin: 0;
  height: 100%;
}
body {
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
    background-image: linear-gradient(to bottom right , blue, black);
}
h1 {
  text-align: center;
  margin: 10px;
  font-family: "Lucida Sans Unicode", "Lucida Grande", "Lucida Sans", Arial,
    sans-serif;
  color: white;
}

.shape {
  margin: auto;
  width: 295px;
  height: 450px;
  border-radius: 8px;
  border: 2px solid #444746;
  background-color: #1f1f1f;
}

.screen {
  margin: 5px;
  border: 1px solid #444746;
  height: 50px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  overflow-x: hidden; 
  overflow-y: hidden;
}

.screen span {
  margin: 5px;
  color: white;
  width: 100%;
}
div button:hover{
  background-color: #3a3f50;
}

.buttons {
  display: flex;
  margin: 5px;
}


button {
  width: 60px;
  height: 60px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid black;
  margin: 5px;
  font-size: 24px;
  border-radius: 8px;
  background-color: #333438;
  color: #eef0ff;
  cursor: pointer;
}

.ac {
  background-color: #a8c7fa;
  color: #1f1f1f;
}

.operations-buttons > button {
  background-color: #2c303d;
  
}

.numbers-buttons {
  display: flex;
  flex-direction: row-reverse;
  flex-wrap: wrap;
}

.operations-buttons {
  display: flex;
  flex-direction: column;
}

div .equal{
  background-color: #a8c7fa;
  color: #1f1f1f;
}

.screen{
  transition:cubic-bezier(0.895, 0.03, 0.685, 0.22);
}

.elements{
  display: flex;
  justify-content: space-between;
  margin: 5px;
}

.elements  button {
  width: 100px;
}