* {
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 10px;
}

.shape {
  margin: 30px;
  text-align: center;
  width: 400px
}

.buttons {
  display: flex;
}

.numbers-buttons .operations-buttons {
  display: inherit;
  justify-content: space-between;
  width: 50%;
}

.numbers-buttons .operations-buttons div {
  width: 20px;
}
