* {
  margin: 0px;
  box-sizing: border-box;
}

h1 {
  text-align: center;
  margin: 10px;
}

.shape {
  margin: auto;
  text-align: center;
  width: 400px;
  height: 550px;
  border: 2px solid black;
}

.screen {
  margin: 5px;
  border: 2px solid black;
  height: 100px;
}

.screen span {
  margin: 5px;
  border: 2px solid black;
  float: inline-start;
}

.buttons {
  display: flex;
}

.numbers-buttons .operations-buttons {
  display: inherit;
  justify-content: space-between;
  width: 50%;
}

.numbers-buttons > div,
.operations-buttons > div {
  width: 40px;
  height: 40px;
}
